/**
  * UTILITIES STYLES SCSS
  * Opera MediaWorks 2016
  * @AUTHOR Ian Sayre
*/

// display
.center {
  @include centered(true, true);
}

.center-horizontal {
  @include centered(true, false);
}

.center-vertical {
  @include centered(false, true);
}

.clearfix {
  @include clearfix();
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.show {
  display: block !important;
}
